/* Didact Gothic */
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ffd230;
  --primary-color: #fce4de;
  --main-font: "Montserrat", sans-serif;
  --primary-font: "Didact Gothic", sans-serif;
}
