/* Didact Gothic */
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ffd230;
  --primary-color: #fce4de;
  --main-font: "Montserrat", sans-serif;
  --primary-font: "Didact Gothic", sans-serif;
}
/* Nav starts */
nav {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 20px;
}

.logo {
  font-family: var(--primary-font);
  font-size: 2rem;
}

.burger {
  background: #fff;
  padding: 10px;
}

.burger ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.burger li {
  position: relative;
}

.burger a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--primary-font);
  padding: 10px 15px;
  display: block;
}

.burger a:hover {
  background-color: var(--main-color);
}

/* Nav ends */
